*
{margin: 0;padding: 0; box-sizing: border-box;-ms-overflow-style: none; scrollbar-width: none;}
::-webkit-scrollbar {
  width: 0;
  height: 0;
  background: transparent;
}

body
{
  height: 100%;
  width: 100%; 
  overflow-x: hidden;
  background-image: url("https://nikitkakoevka.github.io/cosmo.web/img/задний фон.jpg");
  background-color:#ECECEC;
  scrollbar-width: none;
}


.container
{
  display: flex;
  font-size:70px ;
  font-family: Stolzl;
  justify-content: space-around;
  flex-direction: column;
  align-items:center;
  min-height: 1000px;
  padding-top:300px ;
}
.mkslink
{
  margin-top: 250px;
}
.sphere
{
  min-width: 140%;
  min-height: 150%;
  margin-top: 200px;
  background-color:#ECECEC;
  box-shadow: 74px -50px 63px #ECECEC;
  border-radius: 100% 100% 0px 0px;
}
.content
{
  margin-top: 170px;
  min-height: 1000px;
  display: flex;
  align-items:center;
  justify-content: space-around;
  flex-direction: column;
  padding-bottom: 100px;
}
.cont_title
{
  min-width: 1000px;
  min-height: 300px;
  margin-left: 10%;
}
.Astronomy
{
  background-image: url("https://nikitkakoevka.github.io/cosmo.web/img/Фон астрономии.jpg");
  font-size:  90px;
  background-clip: text;
  -webkit-background-clip: text; /* Для Safari/Chrome */
  color: transparent;
  text-transform: uppercase;
  font-weight: 600;
  background-size:cover;
  background-repeat: no-repeat;
  margin-left: 25%;
}
.NewsFrom
{
  font-weight: 400;
  font-size: 50px;
}
.cont_news
{
  display: grid;
  grid-template-columns:650px 350px;
  grid-column-gap: 20px;
  grid-row-gap: 30px;
  min-width: 1000px;
  min-height: 1200px;
}
.news
{
  border-radius:20px;
  max-height: 400px;
  flex-direction: column;
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.09);
}
.imgpreview
{
  overflow: hidden;
  border-radius:10px 10px 0px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img_odd
{
  max-width: 650px;
  max-height: 180px;
}
.img_even
{
  max-width: 350px;
  max-height: 180px;
}
.imgpreview_odd img {
  max-width: 100%;
  max-height: 100%;
}
.newscontent
{
  font-family: 'Commissioner';
  margin-left: 30px;
  margin-top: 15px;
  height: 170px;
}
.newstitle
{
  font-size: 24px;
  font-weight: 400;
}
.newstext
{
  margin-top: 15px;
  font-size: 16px;
  font-weight: 200;
}
.date
{
  font-size: 16px;
  text-align: center;
  font-weight: 400;
  color:#969696;
  margin-bottom: 15px;
}
.odd
{
  background-color:rgb(255, 255, 255);
  max-width: 650px;
}
.even
{
  background-color:rgb(255, 255, 255);
  max-width: 350px;
}
.cont_bttn
{
  margin-top: 100px;
  width: 260px;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items:center;
}
button
{
  width: 250px;
  height: 60px;
  background-color: #252525;
  border-radius:15px;
  border:none;
  font-size: 20px;
  color:#ffffff;
  font-family: 'Commissioner';
  font-style: normal;
  font-weight: 500;
  transition: 0.1s;
}
button:hover
{
  transition: 0.1s;
  width: 260px;
  height: 65px;
  background-color: #383838;
}
