*
{margin: 0;padding: 0; box-sizing: border-box;}
::-webkit-scrollbar {
    width: 0;
    height: 0;
    background: transparent;
}
body
{
    height: 100%;
    width: 100%; 
    overflow-x: hidden;
    background-color:#000000;
    display: flex;
    flex-direction: column;
    align-items:center;
}
.invertheader
{
    background-color: #000000;
}

.invert 
{
    color:#fff;
}
.colored
{
    color:#9A7AFF;
}

.container
{
    display: flex;
    font-size:10px ;
    font-family: 'Commissioner';
    flex-direction: column;
    justify-content: space-around;
    align-items:center;
    overflow-x: hidden;
    min-height: 3000px;
    width: 1000px;
    padding-top:200px ;
    color:#fff;
}
.title
{
    margin-top: 20px;
    text-align: center;
    font-size: 70px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 50px;
}
.Img
{
    width: 800px;
}
.Tab
{
    height: 400px;
}
.par
{
    width: 800px;
    font-size: 16px;
    line-height: 29px;
    text-align: justify;
    text-indent: 40px;
    font-weight: 200;
}
.upLink
{
    width: 800px;
    font-size: 20px;
    line-height: 29px;
    text-align: justify;
    margin-top: 50px;
    margin-bottom: 50px;
    font-weight: 200;
}